body,div,input {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #00B7FF;
}

.login-form {
  align-content: center; 
  background-color: rgb(255, 255, 255);
}
.container-fluid {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 80px;
  height: 1000px;
  width: 100%;
} 
.facebook_name {
  color: dodgerblue;
  font-size: 60px;
  font-weight: bold;
  word-wrap: none;
}
.log_text {
  padding-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.input_box {
  padding: 25px 25px 25px 15px;
}
.form-control {
  border-radius: 20 20 20 20px;
}
.btn {
  padding: 13 160 13 160px;
}
.facebook_name_signup {
  font-family: 'Times New Roman', Times, serif;
  color: floralwhite;
  font-size: 60px;
  font-weight: bold;
  word-wrap: none;
}
.signup {
  text-align: center;
  padding-top: 10px;
  background-color: #3b5998;
  height: 100px;    
}
.signup-form {
  align-content: center; 
}
.sign_text {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}
.sign-up {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  height: 700px;
}
.text {
  color: black;
  text-align: left;
  font-size: 20px;
  padding-top: auto;
}
.input_box_signup {
  padding: 10px 10px 10px 10px;   
}
.rect {        
  line-height: 1.2;        
}

.leftside {
  background-color: #f2f2f2;
}
.dot {
  height: 40px;
  width: 40px;
  background-image: url(banner.jpg);
  content: " ";
  border-radius: 50%;
  display: inline-block;
}
.h4 {
  text-align: center;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.name {
  font-size: 13px;
  padding-top: 8px;
}
.about {
  font-size: 13px;
}
.dot1 {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}

.sendMessage {
  /* position:static;
  margin-top: 600; */
}

.messageview {
  text-align: right;
  border: 5px black solid;
  height: 500;
  position: fixed
}

